body {
    background: #f5d9df;
    font-family: "Nunito", sans-serif;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font: weight 100;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(181, 120, 238);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: orangered;
}

.container-fluid span {
    color: #ea1c2c;
}

.container-fluid h2 {
    font-weight: 100;
    font-size: 3.5rem;
}

@media(max-width:1366px) {
    .container-fluid h2 {
        font-weight: 100;
        font-size: 3.2rem;
    }
}

@media(max-width:1366px) {
    .container-fluid h2 {
        font-weight: 100;
        font-size: 3.0rem;
    }
}

@media(max-width:1150px) {
    .container-fluid h2 {
        font-weight: 100;
        font-size: 2.8rem;
    }
}

@media(max-width:1100px) {
    .container-fluid h2 {
        font-weight: 100;
        font-size: 2.6rem;
    }
}

@media(max-width:1050px) {
    .container-fluid h2 {
        font-weight: 100;
        font-size: 2.4rem;
    }
}

#second {
    color: #ea1c2c;
    font-weight: 100;
    /* font-size: 2.5rem; */
}

.navbar.scrolled {
    background: rgb(237, 243, 151);
    transition: background 400ms;
}

.lead {
    color: #ea1c2c;
    font-weight: 100;
    line-height: 2;
}


}